# last modified 2015-04-21 by J. Fox

importFrom(Hmisc, rcorr, print.rcorr)
importFrom(MASS, stepAIC)
importFrom(abind, abind)
importFrom(e1071, skewness, kurtosis)
importFrom(car, showLabels, hccm, linearHypothesis)
importFrom(sandwich, vcovHAC)
importFrom(colorspace, rainbow_hcl)
importFrom(readxl, read_excel)

export(assignCluster, Barplot, bin.var, colPercents, Dotplot, Hist, indexplot, KMeans, lineplot, mergeRows, 
    numSummary, partial.cor, plotDistr, plotMeans, rcorr.adjust, readXL, reliability, rowPercents, 
    stepwise, summarySandwich, totPercents)

S3method(mergeRows, data.frame)
S3method(print, numSummary)
S3method(print, partial.cor)
S3method(print, reliability)
S3method(print, rcorr.adjust)
S3method(summarySandwich, lm)


