# last modified 2017-01-24 by J. Fox

importFrom(Hmisc, rcorr, print.rcorr)
importFrom(MASS, stepAIC)
importFrom(abind, abind)
importFrom(e1071, skewness, kurtosis)
importFrom(car, showLabels, hccm, linearHypothesis, deltaMethod)
importFrom(sandwich, vcovHAC)
importFrom(colorspace, rainbow_hcl)
importFrom(readxl, read_excel, excel_sheets)
importFrom(haven, read_sas, read_spss)
importFrom(foreign, read.spss)
importFrom(graphics, abline, arrows, axis, barplot, box, hist, legend, lines, 
    matplot, mtext, par, plot, points, polygon, strheight, text, title)
importFrom(grDevices, n2mfrow, palette)
importFrom(stats, coef, complete.cases, cor, dist, formula, kmeans, 
    model.matrix, na.omit, p.adjust, pf, pt, qt, quantile, runif, sd, update)

export(assignCluster, Barplot, bin.var, binVariable, colPercents, DeltaMethod, discretePlot,
    Dotplot, excel_sheets, Hist, indexplot, KMeans, lineplot, mergeRows, 
    numSummary, partial.cor, plotDistr, plotMeans, rcorr.adjust, readXL, readSAS, readSPSS, readStata, reliability, rowPercents, 
    stepwise, summarySandwich, totPercents,
    dgumbel, pgumbel, qgumbel, rgumbel)

S3method(mergeRows, data.frame)
S3method(print, DeltaMethod)
S3method(print, numSummary)
S3method(print, partial.cor)
S3method(print, reliability)
S3method(print, rcorr.adjust)
S3method(summarySandwich, lm)


